@font-face {
	font-family: 'PT Root';
	src: url('../fonts/Root_Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root';
	src: url('../fonts/Root_Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root';
	src: url('../fonts/Root_Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root';
	src: url('../fonts/Root_Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

