
$default-font: 'Roboto';


// vars
$bg: white;
$bg-slider: #eeeeee;
$text: black;
$text-light: #283136;
$accent: #fb565a;
$accent-g: #00ca74;
$accent-y: #efc849;
$accent-grey: #eee;
$wrong: red;
$disabled: #bec1c2;
$static: #d7dcde;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 0px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
