@import "vars";

@import "fonts";

@import "libs";

@import "mixins";

::placeholder {
	color: black;
}

::selection {
	background-color: $accent;
	color: black;
}

.container {
	width: 100%;
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

html, body {
	height: 100%;
}

:active, :hover, :focus {
	outline: 0 !important;
	outline-offset: 0 !important;
	box-shadow: none;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 150%;
	font-family: $default-font;
	font-size: 16px;
	overflow-x: hidden;
	color: $text;
	background-color: $bg;
	input, textarea {
		border: $static 2px solid;
		outline: none;
		&:focus:required:invalid {
			border: $wrong 2px solid;
		}
		&:required:valid {
			border: green 2px solid;
		}}	
}
		
.header {
	width: 100%;
	padding-top: 49px;
	}


main {
  padding-bottom: 100px;
  /*Высота футера*/
}

footer {
  margin-top: -100px;
  /*Минус Высота футера*/
  height: 100px;
  /*Высота футера*/
}

.is-active {
	display: block;
	visibility: visible;
}

.hidden {
	display: none;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

b, strong {
	font-weight: bold;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}

button, input[type="range"]  {
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: $text;
	&:hover {
		text-decoration: none;
		color: $accent;
		transition: all 0.25s ease-in-out;
	} 
}

.menu {
	display: flex;
	flex-flow: row wrap;
	flex-wrap: nowrap;
	.menu__item {
		margin-right: 48px;
		position: relative;
		&.active:after {
			content: '';
			position: absolute;
			height: 2px !important;
			width: 100%;
			left: 0;
			bottom: -22%;
			background-color: $accent;
		}
		&:hover:after {
			content: '';
			position: absolute;
			height: 4px !important;
			width: 100%;
			left: 0;
			bottom: -22%;
			background-color: $accent;
			transition: 0.3s ease all;
			animation: 0.5s ease-in-out show;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.menu__item__link {
		text-transform: uppercase;
		font-weight: 500;
	}
}

/*.active /*{
	&::after {
	content: '';
	border-bottom: 2px solid $accent;
	padding-top: 5px;
	display: block;
	}}*/

.menu__item--cart {
	text-transform: uppercase;
	font-weight: 500;
	margin-left: auto;
	position: relative;
	&.active:after {
		content: '';
		position: absolute;
		height: 2px !important;
		width: 100%;
		left: 0;
		bottom: -22%;
		background-color: $accent;
	}
	&:hover:after {
		content: '';
		position: absolute;
		height: 4px !important;
		width: 100%;
		left: 0;
		bottom: -22%;
		background-color: $accent;
		transition: 0.3s ease all;
		animation: 0.5s ease-in-out show;
	}
}

.logo__block {
	margin-top: -10px;
	margin-right: 200px;
	img {
		&:hover {
			transform: scale(1.1);
			transition: all 0.3s ease-in-out;
		}
	}
}

.header__slider {
	min-height: 412px;
	margin-top: 20px;
	.header__slider__inner {
		max-width: 520px;
	}
	.header__slider__title {
		font-size: 55px;
		line-height: 1;
		font-weight: 500;
		padding-top: 64px;
		margin-bottom: 29px;
	}
	.header__slider__text {
		color: $text-light;
		margin-bottom: 46px;
	}
	&.header__slider__1 {
		background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
		background-size: contain;
		background-position: 90% -10%;
	}
	&.header__slider__2 {
		background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
		background-size: contain;
		background-position: 90% -10%;
	}
	&.header__slider__3 {
		background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
		background-size: contain;
		background-position: 90% -10%;
	}
}


.slick-dots {
	width: 50%;
	left: 26%;
	position: absolute;
	bottom: 20%;
	 .slick-active button:before {
    width: 8px;
		height: 8px;
		left: 20%;
		top: 20%;
    border: 2px solid #c1c1c1;
    background-color: transparent;
    opacity: 1;
	}
	li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 18px;
    height: 18px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
		background: transparent;
		&::before {
				content: '';
				opacity: 1;
				width: 18px;
    		height: 18px;
				background-color: #fff;
				border: transparent;
				border-radius: 100%;
		}
}
}

.slick-prev:before, 
.slick-next:before {
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	margin-top: -220px;
	font-family: "slick";
	border-radius: 100%;
	font-size: 32px;
	line-height: 1;
	color: black;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	transform: translateY(50%);
}

.slick-prev:before {
	position: absolute;
	left: 4vw;
	z-index: 10;
	background-color: $accent;
}

.slick-next:before {
	position: absolute;
	right: 4vw;
	z-index: 10;
	background-color: $accent;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	font-weight: 400;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	padding: 9px 56px;
	text-align: center;
	outline: 0;
	white-space: nowrap;
	transition: background-color 0.05s ease-in-out;
	outline: 0;
	&:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
	}
	
		&.btn--red {
			background-color: $accent;
			&:hover {
				color: white;
				background-color: #e74246;
			}
			&:active {
				color: rgba($color: white, $alpha: 0.3);
				background-color: #d7373b;
				box-shadow: 0 2px 2px 0 #c13135 inset;
				top: 2px;
			}
		}
		&.btn--green {
			background-color: $accent-g;
			&:hover {
				color: white;
				background-color: #00bc6c;
			}
			&:active {
				color: rgba($color: white, $alpha: 0.3);
				background-color: #00aa62;
				box-shadow: 0 2px 2px 0 #007544 inset;
				top: 2px;
			}
		}
		&.btn--yellow {
			background-color: $accent-y;
			&:hover {
				color: white;
				background-color: #eab534;
			}
			&:active {
				color: rgba($color: white, $alpha: 0.3);
				background-color: #e5a722;
				box-shadow: 0 2px 2px 0 #cc9215 inset;
				top: 2px;
			}
		}
}

.work {
	margin-top: 80px;
	margin-bottom: 120px;
	.work__item {
		max-width: 300px;
		margin-bottom: 40px;
		.work__item__img {
			margin-bottom: 28px;
		}
		.work__item__title {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 26px;
			text-transform: uppercase;
		}
		.work__item__text {
			margin-bottom: 26px;
			padding-right: 17%;
			color: $text-light;
		}
	}
	.btn {
		padding: 9px 38px;
	}
}

.about {
	.about__title {
		font-size: 45px;
		line-height: 1;
		font-weight: 500;
	}
}

@import "media"; // Always at the end
