@import "vars";

@import "fonts";

@import "libs";

@import "mixins";

::placeholder {
	color: black;
}

::selection {
	background-color: $accent;
	color: black;
}

.container {
	width: 100%;
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 150%;
	font-family: $default-font;
	font-size: 16px;
	overflow-x: hidden;
	color: $text;
	background-color: $bg;
	input, textarea {
		border: $static 2px solid;
		outline: none;
		&:focus:required:invalid {
			border: $wrong 2px solid;
		}
		&:required:valid {
			border: green 2px solid;
		}}	
}
		
.header {
	width: 100%;
	padding-top: 49px;
	}


main {
  padding-bottom: 100px;
  /*Высота футера*/
}

footer {
  margin-top: -100px;
  /*Минус Высота футера*/
  height: 100px;
  /*Высота футера*/
}

.is-active {
	display: block;
	visibility: visible;
}

.hidden {
	display: none;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

b, strong {
	font-weight: bold;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}

button, input[type="range"]  {
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: $text;
	&:hover {
		text-decoration: none;
		color: $accent;
		transition: all 0.25s ease-in-out;
	} 
}

.menu {
	display: flex;
	flex-flow: row wrap;
	.menu__item {
		margin-right: 48px;
		&:last-child {
			margin-right: 0;
		}
	}
	.menu__item__link {
		text-transform: uppercase;
		font-weight: 500;
	}
}

.active::before {
	content: '';
	border-bottom: 2px solid $accent;
	padding-top: 5px;
}

.menu__item--cart {
	text-transform: uppercase;
	font-weight: 500;
	margin-left: auto;
	}

.logo__block {
	margin-right: 200px;
}



@import "media"; // Always at the end
